/* *{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
} */

/* #ededed grisaseo
#76aaad turquesa oscuro
#3c464f gris ocuro
#b5ff00 fosforito
 */

html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ededed;
    color: #3c464f;
}

h1 {font-size: 9em;}
h2 {font-size: 3em;}
h3 {font-size: 2em;}
p {font-size: 1.25em;}
a {font-size: 1.5em;  text-decoration: none; color:#3c464f;}
button {font-size: 1.75em;}
summary {font-size: 2em;}

button {
    background-color:#b5ff00;
    color:#3c464f;
    font-weight: bold;
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0.125rem 0.250rem 0.75rem rgba(0,0,0,0.5);

}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s;
    color: #1f2021;
    background-color: #c3ff2a;
}

#header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #76aaad;
}
#header .container h2 {
    margin: 1rem;
    padding-left: 3rem;
}
#header .container a {
    padding: 0;
    margin: 0;
    padding-right: 3rem;
}

#header .container .navegacion a:hover {
cursor: pointer;
transform: scale(1.1);
transition: all 0.3s;
}

#hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vw;
    background-image: /*linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),*/
    url(/public/images/escalador.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero .container p{
    margin: 0;
    padding: 1.8rem 0rem 1rem 0rem;
    font-size: 2.5em;
}
#hero .container h1 {
    margin: 5rem 0rem 0rem 0rem;
}
#hero .container button {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

#cabecera .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    gap: 1rem;
    margin: 2rem 1rem;
}
#cabecera .container .cat {
    border: .0625rem solid #3c464f;
    border-radius: 0.3125rem;
    
}
#cabecera h2 {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    font-size: 3.5em;
    background-color: #76aaad;
    padding: 2rem;
}
#cabecera .container button {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#cabecera .container p{
    margin: 2rem;
}
#main .container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "n1 n1 n1"
    "n2 n3 n3"
    "n2 n3 n3"
    "n2 n4 n4"
    "n2 n4 n4"
    ;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
#main .container .destacados {
    grid-area: n1;
    background-color:#76aaad;
    margin: 0rem;
    padding: 2rem;
}
#main .container .destacados h2 {
    margin: 0rem;
}
#main .container .equi1 {
    grid-area: n2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#ededed;
    border: 1px solid #3c464f;
    padding: 6rem;
    border-radius: 0.3125rem;
    margin-left: 1rem;
}
#main .container .equi2 {
    grid-area: n3;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    background-color:#ededed;
    border: 1px solid #3c464f;
    border-radius: 0.3125rem;
    margin-right: 1rem;
}
#main .container .equi3 {
    grid-area: n4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#ededed;
    border: 0.0625rem solid #3c464f;
    border-radius: 0.3125rem;
    margin-right: 1rem;
}
#main .container h3 {
    font-size: 2em;
}

#sobre-nosotros .container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
}
#sobre-nosotros .container h2{
    font-size: 3.5em;
    padding: 1rem;
    margin: 0rem;
    background-color:#76aaad;
}

#contacto .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 1rem;
    margin: 0rem;
    padding: 1.5rem;

}
#contacto h2{
    font-size: 3.5em;
    width: 100%;
    margin: 0rem;
    padding: 1rem;
    background-color: #76aaad;
    text-align: center;
}
#contacto .container .card {
    border-radius: 1rem;
    border: 1px solid;
}

#footer {
    text-align: center;
    margin: 0rem;
    padding: 1rem;
    background-color: #76aaad;
}
#footer p{
    margin: 0rem;
}